doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="author" content="")
    meta(name="description" content="" + description)
    meta(name="keywords" content="")
    title #{description}
    link(rel="icon" type="image/png" href= `${src}favicon.ico`)
    <!-- STYLES -->
    link(rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="assets/css/swiper.min.css")
    link(rel="stylesheet" type="text/css" href="assets/css/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="assets/css/style.css")
  body
  


